* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --dark1: #131313;
  --dark2: #424242;
  --dark3: #727272;
  --orange: #ff900e;
  --lightorange: #fff4e7;
  --white: #ffffff;
}

/* Global button */
.btn-primary {
  color: var(--white);
  background-color: var(--orange);
  border-radius: 8px;
  padding: 20px 36px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.btn-primary:hover {
  background-color: transparent;
  border-radius: 8px;
  padding: 18px 34px;
  color: var(--orange);
  border: 2px solid var(--orange);
  cursor: pointer;
}

.btn-white {
  color: var(--orange);
  background-color: var(--white);
  border-radius: 5px;
  padding: 20px 36px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
.btn-white:hover {
  color: var(--white);
  background-color: transparent;
  padding: 18px 34px;
  border: 2px solid var(--white);
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  background-color: var(--lightorange);
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-title {
  color: var(--dark1);
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.nav-title:hover {
  color: var(--orange);
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 70px;
  align-items: center;
}
nav li {
  list-style: none;
}

nav .navitems {
  color: var(--dark2);
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

nav .navitems:hover {
  color: var(--orange);
  cursor: pointer;
}

.banner {
  background-color: var(--lightorange);
  padding: 60px 0;
}

.content-container {
  text-align: center;
  padding-bottom: 50px;
}

.title {
  color: var(--dark1);
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
}

.description {
  color: var(--dark3);
  max-width: 868px;
  margin: 32px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.bannerimg {
  width: 100%;
  height: 700px;
  border-radius: 8px;
  object-fit: cover;
}

/* Features Start */

.featurecontainer {
  display: flex;
  padding: 60px;
  gap: 60px;
}

.imggroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.features-content {
  align-self: center;
}

.features-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark3);
}
h1 .first {
  color: var(--dark1);
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

h1 .first2 {
  color: var(--orange);
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.features-description {
  color: var(--dark3);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 24px 0 32px 0;
}

/* love & enjoy */

.feature-love-enjoy-container {
  display: flex;
  gap: 146px;
  margin: 130px 0;
}
.features-love-enjoy-title {
  color: var(--dark1);
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  border-left: 5px solid var(--orange);
  padding-left: 20px;
}

.optiongroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.option {
  padding: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background-color: var(--white);
}

.option h3 {
  color: var(--dark1);
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
.option p {
  margin-top: 10px;
  color: var(--dark3);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.architect {
  position: relative;
}

.experience {
  z-index: 1;
  position: absolute;
  background-color: var(--orange);
  padding: 42px;
  border-radius: 8px;
  margin-left: -70px;
  bottom: -70px;
}

.experience h1 {
  color: var(--white);
  text-align: center;
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
}
.experience p {
  color: var(--white);
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
}

/* Some Facts */

.somefactstitle {
  color: var(--dark1);
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}
.somefacts p {
  color: var(--dark3);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 24px 0 60px;
}

.card-contaienr {
  display: flex;
  justify-content: space-around;
}

.card {
  border: 1px solid var(--orange);
  border-radius: 8px;
  padding: 40px 60px;
}

.card:hover {
  cursor: pointer;
  border: 1px solid var(--orange);
  transform: rotate(10deg);
}

.card-title {
  color: var(--dark2);
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
}

.card-dis {
  color: var(--dark3);
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
/* sponspors  Start */

.sponspors {
  padding: 130px 0;
}
.sponspors-tile {
  color: var(--dark1);
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
}
.sponspors p {
  color: var(--dark3);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding: 24px 0 50px 0;
  max-width: 542px;
  margin: 0 auto;
}
.logo-container {
  display: flex;
  justify-content: space-between;
}

.brandlogo {
  filter: grayscale(100%);
}

/* Cta Start */

.cta-contaienr {
  background-color: var(--orange);
  display: flex;
  object-fit: cover;
  justify-content: space-between;
  gap: 120px;
  border-radius: 8px;
  padding: 60px;
}

.cta-body {
  align-self: center;
}

.cta-title {
  text-align: left;
  width: 60%;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--white);
  margin-bottom: 24px;
}

.cta-body p {
  width: 60%;
  margin: 24px 0;
  color: var(--white);
}

.ctaimg {
  height: 500px;
}

/* footer Start */

.footer-content {
  background-color: var(--lightorange);
  margin: 130px 0;
  padding: 40px 0;
}

.footer-content p {
  text-align: center;
}
